{% extends 'base/base.html' %}
{% block title %} | Change Password{% endblock %}
{% block page_content %}
    <form class="change-password" method="post" action="{% url 'change password' %}">
        {% csrf_token %}
        {{ form }}
        <div class="change-password-buttons">
            <button class="change-password-save" type="submit">Save</button>
            <button class="change-password-back" type="button"><a href="{% url 'home' %}">Back</a></button>
        </div>
    </form>
{% endblock %}