{% extends 'base/base.html' %}
{% block title %} | Profile {% endblock %}
{% load static %}
{% block page_content %}
<section class="user-profile">
    <div class="user-profile-details">
        <div class="profile-image">
            {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url}}" alt="User Image">
            {% else %}
                <img src="{% static 'images/person.png' %}">
            {% endif %}
        </div>
        <div class="user-profile-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First name:</strong> {{ user.profile.first_name }}</p>
            <p><strong>Last name:</strong> {{ user.profile.last_name }}</p>
            {% if user.profile.gender %}
                <p><strong>Gender:</strong> {{ user.profile.gender }}</p>
            {% endif %}
            <p><strong>Last Login:</strong> {{ user.last_login }}</p>
        </div>
    </div>

    <div class="user-profile-buttons">
        <div>
            <a type="button" href="{% url 'profile edit' pk=user.pk %}" class="edit-button">Edit Profile</a>
        </div>
        <div>
            <a type="button" href="{% url 'profile delete' pk=user.pk %}" class="delete-button">Delete Profile</a>
        </div>
    </div>
</section>

{% endblock %}