{% extends 'base/base.html' %}
{% block title %} | Profile Delete{% endblock %}
{% load static %}
{% block page_content %}
    <section class="profile">
        <form class="profile-delete-form" action="{% url 'profile delete' pk=user.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <h1>Are you sure you want to delete your profile?</h1>
            <div>
            {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url}}"  alt="User Image" class="responsive-img" style="height: 200px;  width:170px;  overflow:hidden;" >
            {% else %}
                <img src="{% static 'images/person.png' %}" style="height: 150px; width: 155px">
            {% endif %}
            </div>
            <h2>Username: {{ user.username }}</h2>
            <h4>Email: {{ user.email }}</h4>
            <button type="submit">Yes</button>
            <a type="button" href="{% url 'profile details' pk=user.pk %}">
                Back to Profile
            </a>
        </form>
    </section>

{% endblock %}