{% extends 'base/base.html' %}
{% block title %} | Register {% endblock %}
{% block page_content %}
    <div class="register">
        <div class="card">
            <div class="card-header">
                <h1>Welcome to Smart Library</h1>
            </div>

            <form class="user-access-form" method="POST" action="{% url 'register' %}">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="user-access-button">Register</button>
            </form>
        </div>
    </div>
{% endblock %}