{% extends 'base/base.html' %}
{% block title %} | {{ book.book_title }}{% endblock %}
{% block page_content %}

<section class="book-section">
    <div class="book-information">
        <div class="book-information1">
            <div class="book-image">
                <img src="{{book.book_image.url}}"  alt="Book Image">
            </div>
            <div class="more-info">
                <p>Title: {{ book.book_title }}</p>
                <p><strong>Description:</strong> {{book.description}}</p>
                <p><strong>Author:</strong> {{ book.author.first_name }} {{ book.author.last_name }}</p>
                <p><strong>Category:</strong> {{ book.category.name }}</p>
                <p><strong>Price:</strong> {{ book.price|floatformat:2 }}<p>
                <p><strong>Serial:</strong> {{ book.serial }}</p>
{#                <p><strong>ID:</strong> {{ book.id }}</p>#}
                <p><strong>Rate: {{ avg_rate|floatformat:2 }}</strong> </p>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            <div style="display: flex; gap: 20px">
                <a type="button" class="rent-review-button" href="{% url 'rent book' pk=book.pk %}">Rent Book</a>
                <a type="button" class="rent-review-button" href="{% url 'review book' pk=book.pk %}">Review Book</a>
            </div>
        {% endif %}
    </div>

    <div class="reviews">
    {% if reviews %}
        <h1>All reviews</h1>
        {% for review in reviews %}
        <div class="review">
            <div class="review-left-part">
                <p><b>Username:</b> {{ review.user.username }}</p>
                <p><b>Comment:</b> {{ review.comment }}</p>
            </div>
            <div class="review-right-part">
                <p><b>Rate:</b> {{ review.rate }}</p>
                <p><b>Created at:</b> {{ review.created_at }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>The book does not have any reviews, yet</h1>
    {% endif %}
    </div>
</section>


{% endblock %}
