{% extends 'base/base.html' %}
{% block title %} | {{ book.book_title }} | Rent{% endblock %}
{% block page_content %}

<section class="rent-book">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>You are going to rent - <a href="{% url 'book details' pk=book.pk %}">({{ book.book_title }})</a> book</h1>

<form method="POST" action="{% url 'rent book' pk=book.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="rent-review-button">Rent now</button>
</form>
</section>
{% endblock %}