{% extends 'base/base.html' %}
{% block title %} | Authors {% endblock %}
{% block page_content %}

<section class="common">
    <div class="common-list">
        {% for author in authors_list %}
        <div class="author-container">
            <div class="author-details">
                <p><strong>Author:</strong> {{ author.first_name }} {{ author.last_name }}</p>
                <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
                <p>Books:</p>
                <ul>
                    {% for book in author.books.all %}
                        <li><a href="{% url 'book details' pk=book.pk %}">{{ book.book_title }}</a></li>
                    {% empty %}
                        <li>“We’re sorry, but we currently do not have any books by this author in our collection.
                            Please check back later as we are constantly updating our library.”</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'paginator.html' %}
</section>


{% endblock %}
