.form-edit-review {
    margin: 250px auto;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border-radius: 10px;
}

.form-edit-review label {
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}
.form-edit-review textarea {
    border-radius: 10px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}
.form-edit-review input {
    border-radius: 10px;
    width: 400px;
    padding: 5px;
}

.form-edit-review button {
    color: white;
    background-color: #0077ff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 25px 0 45px 0;

}

.form-edit-review button:hover {
    cursor: pointer;
    background-color: #0033ff;
}

@media  screen and (max-width: 890px) {
    .form-edit-review {
        margin-top: 400px;
    }
}