{% extends 'base/base.html' %}
{% block title %} | {{ book.book_title }} | Review {% endblock %}
{% block page_content %}
<div class="write-review">
    <h1>Write a Review - <strong style="color: blue">({{ book.book_title }})</strong> book</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="form-review" method="POST" action="{% url 'review book' pk=book.pk %}" >
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="rent-review-button">Submit</button>
    </form>
</div>
<script>
setTimeout(function() {
    let messageList = document.getElementsByClassName('messages')[0]
    while (messageList.firstChild) {
        messageList.removeChild(messageList.firstChild);
    }
    messageList.style.display = 'none';
}, 7000);
</script>
{% endblock %}

