.change-password {
    margin: 300px auto;
    background: linear-gradient(to right, lightseagreen, #b3dfe2);
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}


.change-password label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -15px;
}
.change-password input {
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    width: 85%;
}
.change-password-buttons {
    display: flex;
    gap: 21px;
    margin-top: 20px;
}
.change-password-save, .change-password-back {
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.change-password-save {
    background-color: #228B22;
}
.change-password-save:hover {
    background-color: #127220;
    cursor: pointer;
}

.change-password-back {
    background-color: #0077ff;
    text-decoration: none;
}

.change-password-back:hover {
    background-color: #0033ff;
}

@media screen and (max-width: 700px) {
    .change-password {
        margin-top: 420px;
    }
}

@media screen and (max-width: 550px) {
    .change-password {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 450px) {
    .change-password label {
        font-size: 18px;
    }
    .change-password input {
        font-size: 16px;
    }
    .change-password-save, .change-password-back {
        font-size: 16px;
    }
}