.change-password {
    margin: 300px auto;
    background-color: lightgreen;
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}


.change-password label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -15px;
}
.change-password input {
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    width: 85%;
}
.change-password-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.change-password-save {
    color: white;
    background-color: #0077ff;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.change-password-save:hover {
    cursor: pointer;
    background-color: blue;
}
.change-password-back {
    background-color: orange;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
}

.change-password-back:hover {
    background-color: darkorange;
}

.change-password-back a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .change-password {
        margin-top: 420px;
    }
}