.profile {
    margin: 180px auto;
    background: linear-gradient(to right, lightseagreen, #b3dfe2);
    display: flex;
    max-width: 500px;
    border-radius: 10px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 25px 100px 35px 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form label {
    font-weight: bold;
}

.form input{
    border-radius: 8px;
    background-color: #ffffff;
    height: 43px;
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 14px;
}


.edit {
    color: white;
    background-color: #0077ff;
    padding: 8px 45px;
    border-radius: 10px;
    border: none;
    margin: 35px 0 25px 0;
    font-size: 20px;
    font-weight: bold;
}

.edit:hover {
    cursor: pointer;
    background-color: #0033ff;
}

@media screen and (max-width: 890px) {
    .profile {
        margin-top: 250px;
    }
}

@media screen and (max-width: 710px) {
    .profile {
        margin-top: 415px;
    }
}

@media screen and (max-width: 570px) {
    .profile {
        margin-left: 22px;
        margin-right: 22px;
    }
    .edit {
        font-size: 16px;
    }
}


