{% extends 'base/base.html' %}
{% block title %} | Home {% endblock %}
{% block page_content %}

<div class="top-books">
    <h1 class="top-3-books">Top 3 Rated Books</h1>
    <section class="common">
        <div class="common-list">
            {% for book in top_books %}
            <div class="book-card">
                <h1 id="book-title"><a href="{% url 'book details' pk=book.pk %}">{{ book.book_title }}</a></h1>
                <div class="book-info">
                    <a href="{% url 'book details' pk=book.pk%}">
                        <img src="{{ book.book_image.url }}" alt="{{ book.book_title }} Image">
                    </a>
                    <div class="book-details">
                        <p><strong>Author:</strong> {{ book.author.first_name }} {{ book.author.last_name }}</p>
                        <p><strong>Category:</strong> {{ book.category.name }}</p>
                        <p><strong>Price:</strong> {{ book.price|floatformat:2 }}<p>
                        <p><strong>Serial:</strong> {{ book.serial }}</p>
                        <p><strong>Rate: {{ book.avg_rate|floatformat:2 }}</strong> </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>

{% endblock %}