{% load static %}

<nav class="navigation-bar">
    <section class="left-part">
        <div class="home-links">
            <a href="{% url 'home' %}">
            <img width="42px" src="{% static 'images/smart-library.jpg' %}" alt="smart library image">
            </a>
            <a class="library-name" href="{% url 'home' %}">Smart Library</a>
        </div>

        <ul class="navigation-links">
            <li class="{% if request.resolver_match.url_name == 'books' %}active{% endif %}">
                <a href="{% url 'books' %}">Books</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'categories' %}active{% endif %}">
                <a href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'authors' %}active{% endif %}">
                <a href="{% url 'authors' %}">Authors</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="{% if request.resolver_match.url_name == 'reviews' %}active{% endif %}">
                    <a href="{% url 'reviews' %}">My reviews</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'rented books' %}active{% endif %}">
                    <a href="{% url 'rented books' %}">My rents</a>
                </li>
            {% endif %}
        </ul>
    </section>

    <ul class="right-part">
        {% if request.user.is_authenticated %}
        <ul class="navigation-links">
            <li class="no-hover">
                <span>Hello, {{ request.user.username }}</span>
            </li>
            <li class="{% if request.resolver_match.url_name == 'profile details' %}active{% endif %}">
                <a href="{% url 'profile details' pk=request.user.pk %}">Profile</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'change password' %}active{% endif %}">
                <a href="{% url 'change password' %}">Change Password</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="navigation-links">
            <li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                <a href="{% url 'register' %}">Register</a>
            </li>
        </ul>
        {% endif %}
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let liElements = document.querySelectorAll('.navigation-links li');
        liElements.forEach(function(li) {
            li.addEventListener('click', function(event) {
                let clickedLi = event.currentTarget;
                let link = clickedLi.querySelector('a');
                if (link) {
                    link.click();
                }
            });
        });
    });
</script>

