body {
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    background-image: url("../../images/smart-library.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navigation-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.navigation-bar .left-part {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

.home-links .library-name {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.navigation-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.navigation-links li {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
}

.navigation-links li:hover {
    cursor: pointer;
    background-color: #ff7300;
}

.navigation-links li a {
    color: #0037b0;
    text-decoration: none;
}

.navigation-links li:hover a {
    color: white;
}

.right-part {
    margin-right: 20px;
}

.top-books {
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    align-items: center;
}

.top-3-books {
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
}


.footer {
    width: 100%;
    background-color: orange;
    text-align: center;
    padding: 30px 0 30px 0;
    margin-top: auto;
    font-weight: bold;
}

@media screen and (max-width: 910px) {
    .top-books {
        margin-top: 370px;
    }
    
}
