.book-card {
    width: 550px;
    min-height: 380px;
    background: linear-gradient(to right, lightseagreen, #b3dfe2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 14px;
}

.book-info {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.book-info img {
    height: 205px;
    width: 180px;
    border-radius: 10px;
}

#book-title {
    margin-top: 35px;
    text-align: center;
}

#book-title a {
    text-decoration: none;
    color: blue
}

#book-title a:hover {
    color: red;
}

.book-details p {
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    .book-card {
        max-width: 400px;
    }
    .book-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 430px) {
    .book-card {
        max-width: 300px;
    }
    .book-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
}
