.book-section {
    margin: 185px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.book-information {
    max-width: 800px;
    min-height: 250px;
    background: linear-gradient(to right, lightseagreen, #b3dfe2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    gap: 70px;
    border-radius: 12px;

}

.book-information1 {
    display: flex;
    gap: 70px;
}

.book-image {
    width: 250px;
    height: 388px;
}

.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.more-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
    max-width: 400px;
}

.more-info p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
}

.rent-review-buttons {
    display: flex;
    gap: 20px;
}

.rent-review-button {
    color: white;
    background-color: #0077ff;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    text-decoration: none;
    border: none;
}

.rent-review-button:hover {
    background-color: #0033ff;
    cursor: pointer;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: lightgrey;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    border-radius: 8px;
}

.review {
    width: 100%;
    display: flex;
    gap: 155px;
    background: linear-gradient(to right, #008b8b, #b3dfe2);
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}

.review-left-part {
    max-width: 400px;
    width: 100%;
}
.review-right-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.no-reviews {
    text-align: center;
}

@media screen and (max-width: 1030px) {
    .reviews {
        max-width: 90%;
    }
}

@media screen and (max-width: 890px) {
    .book-section {
        margin-top: 300px;
    }
}

@media screen and (max-width: 810px) {
    .book-information1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .review {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .review-left-part {
        max-width: 100%;
    }
    .no-reviews {
        font-size: 24px;
    }
}

@media screen and (max-width: 670px) {
    .book-section {
        margin-top: 400px;
    }
}

@media screen and (max-width: 500px) {
    .book-information {
        max-width: 90%;
    }
    .rent-review-buttons a {
        font-size: 14px;
    }
    .book-section {
        margin-top: 450px;
    }
}

@media screen and (max-width: 430px) {
    .book-image {
        width: 200px;
        height: 338px;
    }
    .rent-review-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .no-reviews {
        font-size: 20px;
    }

}