.rent-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px auto;
    background: linear-gradient(to right, lightseagreen, #b3dfe2);
    max-width: 500px;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
}

.rent-book h1 {
    text-align: center;
}

.rent-book h1 a {
    text-decoration: none;
    color: blue;
}

.rent-book h1 a:hover {
    color: red;
}

.rent-book form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rent-book label {
    font-size: 20px;
    font-weight: bold;
}

.rent-book input {
    width: 330px;
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 20px;
}

@media  screen and (max-width: 670px) {
    .rent-book {
        margin-top: 400px;
    }
}

@media  screen and (max-width: 550px) {
    .rent-book {
        margin-left: 20px;
        margin-right: 20px;
    }
    .rent-book h1 {
        font-size: 22px;
    }
    .rent-book label {
        font-size: 18px;
    }
    .rent-book input {
        width: 250px;
        padding: 4px;
        font-size: 16px;
    }
    .rent-review-button {
        font-size: 16px;
    }
}

