.category-container {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: lightgreen;
    width: 550px;
    border-radius: 12px;
}

.category-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.category-details p {
    /*text-decoration: underline;*/
}

.category-details ul li {
    font-size: 24px;
    color: red;
}

.category-details ul li a {
    text-decoration: none;
    color: #0077ff;
}

.category-details ul li a:hover {
    color: red;
}